<?xml version="1.0" encoding="utf-8" ?>
<Tree>
  <TreeNode Text="用户管理" SingleClickExpand="true">
    <TreeNode Text="管理员管理" NavigateUrl="admin/AdminList.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="招聘会管理" SingleClickExpand="true">
    <TreeNode Text="招聘会管理" NavigateUrl="admin/GeneralActivityList.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="企业管理" SingleClickExpand="true">
    <TreeNode Text="企业信息管理" NavigateUrl="admin/GeneralEnterpriseList.aspx" >
    </TreeNode>
    <TreeNode Text="企业岗位发布管理" NavigateUrl="admin/JobEnterpriseJobPositionList.aspx" >
    </TreeNode>
    <TreeNode Text="企业招聘业务基本信息管理" NavigateUrl="admin/JobEnterpriseServiceList.aspx" >
    </TreeNode>
    <TreeNode Text="参会企业信息管理" NavigateUrl="admin/ParticipatingCompaniesList.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="企业服务管理" SingleClickExpand="true">
    <TreeNode Text="企业服务管理" NavigateUrl="admin/EnterpriseServiceTypeList.aspx" >
    </TreeNode>
    <TreeNode Text="企业服务内容管理" NavigateUrl="admin/EnterpriseServiceInfoList.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="求职者管理" SingleClickExpand="true">
    <TreeNode Text="简历管理" NavigateUrl="admin/JobPersonResumeList.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="广告管理" SingleClickExpand="true">
    <TreeNode Text="广告管理" NavigateUrl="admin/GeneralADList.aspx" >
    </TreeNode>
    <TreeNode Text="场馆广告管理" NavigateUrl="admin/ADImageList.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="友情链接管理" SingleClickExpand="true">
    <TreeNode Text="友情链接管理" NavigateUrl="admin/GeneralFriendlyLink.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="导航菜单管理" SingleClickExpand="true">
    <TreeNode Text="菜单类型管理" NavigateUrl="admin/NavigateList.aspx" >
    </TreeNode>
    <TreeNode Text="添加菜单内容" NavigateUrl="admin/NavigateInfoList.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="交流园地管理" SingleClickExpand="true">
    <TreeNode Text="HR交流园地管理" NavigateUrl="admin/ExchangeCornerList.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="招商加盟管理" SingleClickExpand="true">
    <TreeNode Text="招商加盟管理" NavigateUrl="admin/MerchantsJoin.aspx" >
    </TreeNode>
  </TreeNode>
  <TreeNode Text="就业指导管理" SingleClickExpand="true">
    <TreeNode Text="就业指导管理" NavigateUrl="admin/CareerGuidance.aspx" >
    </TreeNode>
  </TreeNode>
</Tree>