@charset "utf-8";

body {
    margin: 0 auto;
    font-family: "微软雅黑";
    font-size: 13px;
    padding: 0px;
    width: 1003px;
}

#span {
    margin-left: 15px;
    font-family: "微软雅黑";
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bolder;
}

#span1 {
    font-family: "黑体";
    font-size: 13px;
    color: #0033CC;
}

.top {
    margin: 40px 0px 15px 0px;
    width: 1003px;
    height: 45px;
}

.logo {
    width: 160px;
}

.topright {
    margin: 0;
    padding: 0;
    float: right;
    width: 300px;
    font-family: "黑体";
    font-size: 14px;
    color: #000000;
    line-height: 20px;
}

.top1 {
    width: 1003px;
    height: 165px;
    margin: 0px 0px 15px 0px;
    padding: 0;
}

.top1left {
    position: absolute;
    width: 223px;
    height: 165px;
    margin: 0px 20px 0px 0px;
    float: left;
    font-family: "黑体";
    font-size: 13px;
    padding: 0;
}

.top1middle {
    width: 505px;
    height: 165px;
    margin: 0px 238px 0px 240px;
    padding: 0;
}

.img4 {
    margin: 10px 10px 4px 10px;
    height: 113px;
    width: 130px;
}

.top1right {
    width: 232px;
    height: 165px;
    margin: 0;
    float: right;
}

.top2 {
    width: 1003px;
    height: 229px;
    margin: 10px 0px 15px 0px;
}

.top2left {
    width: 223px;
    height: 227px;
    margin: 0px 11px 0px 0px;
    float: left;
    font-family: "黑体";
    font-size: 13px;
    padding: 0;
}

.top2right {
    float: right;
    width: 755px;
    height: 229px;
    font-family: "黑体";
    font-size: 13px;
    padding: 0;
}

.top2righttop {
    width: 757px;
    height: 70px;
    margin: 0px 0px 15px 0px;
    padding: 10px 0px 0px 0px;
    background: url(../image/img8.png) repeat-x;
}

.top2rightbottom {
    width: 752px;
    height: 130px;
}

.top3 {
    width: 100%;
    height: 738px;
    margin: 0px 0px 0px 0px;
}

.top3left {
    width: 223px;
    height: 740px;
    margin: 0px 0px 0px 0px;
    float: left;
    font-family: "黑体";
    font-size: 13px;
    padding: 0;
}

.top3righttop {
    width: 757px;
    height: 130px;
    margin-bottom: 17px;
}

.top3right {
    float: right;
    width: 757px;
    height: 270px;
    font-family: "黑体";
    font-size: 13px;
    padding: 0;
}

.top3rightmiddle {
    display: inline;
    width: 757px;
    height: 320px;
}

.top3rightbottom {
    clear: both;
    width: 757px;
    height: 160px;
    margin-top: 15px;
}

.top3image {
    border: 1px solid #999999;
    margin: 0px 0px 7px 0px;
}


.link {
    margin: 122px 0px 0px 0px;
    width: 1003px;
    height: 134px;
    border: 1px solid #999999;
}

.bottom {
    text-align: center;
    height: 150px;
    margin: 15px 0px 0px 0px;
}

/*********my style*********/
.LinkStyle {
    color: #6e6e6e;
    text-decoration: none;
}
/*拍拍网风格*/
.paginator {
    font: 11px Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 0;
    margin: 0px;
}

    .paginator a {
        padding: 1px 6px;
        border: solid 1px #ddd;
        background: #fff;
        text-decoration: none;
        margin-right: 2px;
        color:#093C7E;
    }

        .paginator a:visited {
            padding: 1px 6px;
            border: solid 1px #ddd;
            background: #fff;
            text-decoration: none;
        }

    .paginator .cpb {
        padding: 1px 6px;
        font-weight: bold;
        font-size: 13px;
        border: none;
    }

    .paginator a:hover {
        color: #fff;
        background: #ffa501;
        border-color: #ffa501;
        text-decoration: none;
    }
